<mat-card matRipple class="cursor-pointer" routerLink="/dashboard/coins/{{denom}}/{{coin.year}}">
    <div class="grid">
        <div [ngClass]="coin.size == 'small' ? 'p-16 sm:p-20' : 'p-8 sm:p-12'">
            <img mat-card-image src="{{coin.img}}" alt="{{coin.year}} {{coin.denom}}">
        </div>
        <div class="flex items-center justify-between">
            <span class="text-2xl py-1 px-2 rounded bg-gray-800 text-white">{{coin.year}}</span>
            <img *ngIf="coin.monarchImg" src="{{coin.monarchImg}}" alt="{{coin.monarch}} Portait">
        </div>
    </div>
</mat-card>
