<h1 mat-dialog-title>{{monarch.name}}</h1>
<div mat-dialog-content>
    <div class="grid grid-cols-12 container">
        <div class="col-span-4">
            <img [src]="monarch.img">
        </div>
        <div class="col-span-8">
            <p>{{monarch.bio}}</p>
            <p>Born: {{monarch.born}}</p>
            <p>Died: {{monarch.died}}</p>
        </div>
    </div>
</div>
<div mat-dialog-actions class="justify-between">
    <a mat-raised-button [href]="monarch.wiki" target="_blank">MORE INFO</a>
    <button mat-button mat-dialog-close>CLOSE</button>
</div>
