.main-area {
    background-image: url('/assets/img/coin-stacks.png');
}

.login {
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}