<h1 mat-dialog-title>Leonard C. Wyon</h1>
<div mat-dialog-content>
    <div class="grid grid-cols-12 container">
        <div class="col-span-4">            
            <img src="assets/img/artists/leonard.png">
        </div>
        <div class="col-span-8">
            <p>A British engraver of the Victorian era most notable for his work on the gold and silver coinage struck for the Golden Jubilee of Queen Victoria in 1887 and the bronze coinage of 1860 with the second ("bun") head portrait, in use from 1860 to 1894.</p>
            <p>Born: London 23 November 1826</p>
            <p>Died: London 20 August 1891</p>
        </div>
    </div>
</div>
<div mat-dialog-actions class="justify-between">
    <a mat-raised-button href="https://en.wikipedia.org/wiki/Leonard_Charles_Wyon" target="_blank">MORE INFO</a>
    <button mat-button mat-dialog-close>CLOSE</button>
</div>