<h1 mat-dialog-title>Danger Area.</h1>
<div mat-dialog-content>There's no going back from this, once deleted you'll have to start from scratch if you want to use Coin Manager again.</div>

<div mat-dialog-content>Please type the name of your project to continue:</div>
<div mat-dialog-actions>
    <mat-form-field>
        <mat-label>Project name</mat-label>
        <input matInput placeholder="project-name">
    </mat-form-field>
    <span class="spacer"></span>
    <button mat-raised-button mat-dialog-close color="warn">Delete Forever</button>
</div>