<mat-sidenav-container class="sidenav-container" [ngClass]="{'dark-theme': isDarkTheme | async}">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>
        <img src="assets/img/logo.png" style="width:30%;">
        <span class="spacer"></span>
        <button
          mat-icon-button
          (click)="drawer.close()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav close icon">keyboard_arrow_left</mat-icon>
        </button>
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['coins/one-cent']" >1 Cent</a>
        <a mat-list-item [routerLink]="['coins/five-cent']">5 Cent</a>
        <a mat-list-item [routerLink]="['coins/ten-cent']">10 Cent</a>
        <a mat-list-item [routerLink]="['coins/twenty-cent']">20 Cent</a>
        <a mat-list-item [routerLink]="['coins/twenty-five-cent']">25 Cent</a>
        <a mat-list-item [routerLink]="['coins/fifty-cent']">50 Cent</a>
        <a mat-list-item [routerLink]="['coins/two-dollar']">2 Dollar</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">        
        <button
          mat-icon-button
          (click)="drawer.open()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav open icon">menu</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['./']">
            <mat-icon aria-label="Home icon">home</mat-icon>
        </button>
        <span class="spacer"></span>
        <button
          mat-icon-button>
          <mat-icon aria-label="What's New Icon" (click)="openDialog()">whatshot</mat-icon>
        </button>
        <button
          mat-icon-button
          [matMenuTriggerFor]="account">
          <mat-icon aria-label="Account access icon">account_circle</mat-icon>
        </button>
        <mat-menu #account class="matMenu">
          <button mat-menu-item [routerLink]="['account']">
            <mat-icon aria-label="My account icon">face</mat-icon>
            <span>Account</span>
          </button>
          <button mat-menu-item [routerLink]="['']">
            <mat-icon aria-label="Logout icon">exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  