.main-area {
    background-image: url('/assets/img/background.png');
    background-size: cover;
    height: 87vh;
}

h1 {
    background-color: black;
    padding: .75rem;
    margin-right: 8rem;
    color: white;
    border-radius: 0.5rem;
}

#get {
    background-color: #F76E6A;
    color: white;
}
