
.index-background {
    background-image: linear-gradient(120deg, #f6d365, #ff9577);
    min-height: 100vh;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 6rem;
    line-height: 6rem;
    height: 20rem;
}
