.main-area {
    height: 70vh;
    padding: 0 6rem;
    background-image: url('/assets/img/waves.svg');
    background-size: cover;
    margin-top: 6rem;
}
.header {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    align-self: center;
}

.subtext {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.spacer {
    flex: 1 1 auto;
  }
  