<app-nav></app-nav>

<div class="index-background ">
    <h1 class="header">NFLD Coin Manager</h1>
    <h2 class="subtext">Sick of spreadsheets and tracking coins by hand?</h2>
</div>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <h2>Track your collection for free</h2>
    </mat-grid-tile>
    <mat-grid-tile>Image here</mat-grid-tile>
    <mat-grid-tile>image here</mat-grid-tile>
    <mat-grid-tile>
        <h2>Newly discovered varieties covered!</h2>
    </mat-grid-tile>
</mat-grid-list>

<app-footer></app-footer>
