<app-nav></app-nav>

<mat-toolbar-row class="main-area">
    <div>
        <h1 class="header"><strong>NFLD</strong>&nbsp;Coin Manager.</h1>
        <h2 class="subtext">Ditch the spreadsheets and go digital.</h2>        
        <button mat-raised-button color="primary" routerLink="/login">GET STARTED</button>
    </div>
    <span class="spacer"></span>
    <div class="rightArea">
        <img src="assets/img/main-coin.png" alt="1936 One Cent Example" />
    </div>
</mat-toolbar-row>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <h2>Track your collection for free</h2>
    </mat-grid-tile>
    <mat-grid-tile>Image here</mat-grid-tile>
    <mat-grid-tile>image here</mat-grid-tile>
    <mat-grid-tile>
        <h2>Newly discovered varieties covered!</h2>
    </mat-grid-tile>
</mat-grid-list>

<app-footer></app-footer>
