.main-area {
    background-image: url('/assets/img/background.png');
    background-size: cover;
}

h1 {
    background-color: black;
    padding: .75rem;
    margin-right: 8rem;
    color: white;
}
