<app-nav></app-nav>

<div class="main-area mt-40">
    <div class="container mx-auto grid grid-cols-12">
        <div class="pt-40 sm:col-span-12 md:col-span-8">
            <p class="text-6xl"><span class="font-bold">NFLD</span>&nbsp;Coin Manager.</p>
            <p class="text-xl pt-16">Ditch the spreadsheets and go digital.</p>
            <button mat-raised-button color="primary" routerLink="/login">GET STARTED</button>
        </div>
        <div class="pt-20 sm:col-span-12 md:col-span-4">
            <img src="assets/img/main-coin.png" alt="1936 One Cent Example" />
        </div>
    </div>
</div>

<app-footer></app-footer>
