<div *ngIf="user">
  <div class="grid grid-rows-6 grid-flow-col gap-8 m-8">
    <div class="row-span-6 mat-table rounded-lg shadow-lg p-8">
      <p class="text-3xl">Collected Status</p>
      <p class="text-6xl text-center">{{ user.coinsCollected }}/{{ coinsToCollectTotal }}</p>
    </div>
    <div class="row-span-2 col-span-2 mat-table rounded-lg shadow-lg p-8">
      <p class="text-3xl">Total Coins Uploaded</p>
    </div>
    <div class="row-span-4 col-span-2 mat-table rounded-lg shadow-lg p-8">
      <p class="text-3xl">Coins Collected</p>
    </div>
  </div>
</div>
