<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <span>Denomination</span>
      <button
        mat-icon-button
        (click)="drawer.close()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav close icon">keyboard_arrow_left</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/1-cent">1 Cent</a>
      <a mat-list-item href="/5-cent">5 Cent</a>
      <a mat-list-item href="/10-cent">10 Cent</a>
      <a mat-list-item href="/20-cent">20 Cent</a>
      <a mat-list-item href="/25-cent">25 Cent</a>
      <a mat-list-item href="/50-cent">50 Cent</a>
      <a mat-list-item href="/2-dollar">2 Dollar</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        (click)="drawer.open()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav open icon">menu</mat-icon>
      </button>
      <span>NFLD Coin Manager</span>      
      <span class="spacer"></span>      
      <button
        mat-icon-button>
        <mat-icon aria-label="What's New Icon">whatshot</mat-icon>
      </button>
      <button
        [matMenuTriggerFor]="account"
        mat-icon-button>
        <mat-icon aria-label="Account access icon">account_circle</mat-icon>
      </button>
      <mat-menu #account class="matMenu">
        <button mat-menu-item routerLink="/account">
          <mat-icon aria-label="My account icon">face</mat-icon>
          <span>Account</span>
        </button>
        <button mat-menu-item>
          <mat-icon aria-label="Logout icon">exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <app-reporting></app-reporting>
  </mat-sidenav-content>
</mat-sidenav-container>
