@import 'firebaseui/dist/firebaseui.css'; //Needed for login page

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '@angular/material/_theming.scss';

@include mat-core(); 

$sortared: (
    50 : #feeeed,
    100 : #fdd4d2,
    200 : #fbb7b5,
    300 : #f99a97,
    400 : #f88480,
    500 : #f76e6a,
    600 : #f66662,
    700 : #f55b57,
    800 : #f3514d,
    900 : #f13f3c,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd8d7,
    A700 : #ffbfbe,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$light-primary: mat-palette($sortared);
$light-accent:  mat-palette($mat-pink, A200, A100, A400);
$light-theme:   mat-light-theme($light-primary, $light-accent);

@include angular-material-theme($light-theme);


$darkdark: (
    50 : #e1e1e1,
    100 : #b5b5b5,
    200 : #848484,
    300 : #535353,
    400 : #2e2e2e,
    500 : #090909,
    600 : #080808,
    700 : #060606,
    800 : #050505,
    900 : #020202,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
// Our dark theme
.dark-theme {
    color: $light-primary-text;
    $dark-primary: mat-palette($darkdark);
    $dark-accent: mat-palette($mat-blue-grey, A400, A100, A700);
    $dark-warn: mat-palette($mat-red);
    $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  
    @include angular-material-theme($dark-theme);
  }

* {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
