<h1 class="text-4xl flex justify-center py-8">Account Settings</h1>
<div class="container mx-auto grid grid-cols-12">
  <div class="col-span-12 sm:col-span-6 sm:col-start-4 mat-card p-8">
    <form [formGroup]="accountForm">
      <mat-form-field appearance="outline" class="mb-10 w-full">
        <mat-label>Collection Name</mat-label>
        <input matInput #message maxlength="50" placeholder="Coinmaster's Coin Collection" formControlName="collectionName">
        <mat-icon matSuffix aria-label="Collection icon">photo_library</mat-icon>
        <mat-hint align="start">This may be publicly displayed so don't identify yourself.</mat-hint>
        <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
      </mat-form-field>
      <mat-slide-toggle color="primary" class="mb-6" formControlName="sharedPublicly">Share my collection publicly</mat-slide-toggle>
    </form>
      <div>
        <button mat-stroked-button color="warn" (click)="openDialog()">DELETE MY ACCOUNT</button>
        <button mat-raised-button color="primary" class="float-right" (click)="saveSettings()">SAVE</button>
      </div>
  </div>
</div>
